:host {
    justify-content: center;
    align-items: center;
}
.cma-card-container {
    width: max-content;
    min-width: 50%;
    max-width: 100%;

    height: min-content;
    max-height: 100%;
}