<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title>
        Connexion
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <p>Vous devez vous connecter pour accéder à cette page.</p>
      <p class="return-info">
      Après connexion, vous serez redirigé vers : <strong>{{ returnUrl }}</strong>
      </p>
    </mat-card-content>
    <mat-card-actions align="end">
        <button matButton (click)="login()" class="login-button">
            Se connecter
        </button>
    </mat-card-actions>
    <mat-card-footer class="example-card-footer">
    </mat-card-footer>
</mat-card>
